*{
  margin: 0;
  padding: 0;
}
  
a{
  text-decoration: none;
}
  
.navbar{
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100vw;
  padding-top: 1.2%;
  padding-bottom: 1.3%;
  background-color: #fabb0f;
  font-size: 20px;
  top: -200px;
  transition: top 0.2s;
  z-index: 3;
}
  
.logo{
  margin-left: 5%;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}

.logo_header{
  margin-left: 1%;
}
  
.main_nav{
  display: flex;
  width: 50%;
  float: right;
  margin-right: 2%;
  justify-content: space-evenly;
  list-style: none;
}

.main_nav li a{
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  transition: all ease-in-out 250ms;
}

.main_nav li a::after{
  content: "";
  position: absolute;
  display: block;
  height: 0.1em;
  width: 0%;
  background-color: #ffffff;
  bottom: -0.6em;
  transition: all ease-in-out 250ms;
}

.main_nav li a:hover::after{
  width: 100%;
}

.main_nav li a:hover{
  color: #ffffff;
}
  
body{
    background-color: white;
    color: #054783;
}
header{
    height: 500px;
    width: 100%;
    border-left: 0;
    background-image: url(Friends_banner.jpg);
    font-size: 50px;
    display: flex;
    margin-bottom: 0%;
    color: #eedf0e;

}
.mainEvent{
    backdrop-filter: blur(5px);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    height: 317px;
    width: 550px;
    border-width: 1px;
    border-color: rgb(193, 193, 214);
    margin: auto;
    margin-top: 10%;
    margin-left: 1%;
    display:flex;
    flex-direction: column;
}
a{
  color:#e6ff06;
}
p{
    margin-bottom: 5%;
}
main{
    font-size: 30px;
    height: 575px;
    background-color: #f4f4f4;
}
content{
    margin-left: 1.5%;
    display: flex;
    flex-direction: column;
}
h2{
    margin-bottom: 1%;
    margin-left: 5%;
}
.pmain{
    margin-bottom: 3.25%;
    margin-left: 10%;
}
.meetTeam{
    margin-top: -1.1%;
    height: 400px;
    background-color: white;
}
.meetTeam>h2{
    text-align: center;
    margin-left: 0%;
}
.teamgrid{
    height: 350px;
    display: grid;
    grid-template-rows: 1fr 30% 10%;
    grid-template-columns: 20% 1fr 1fr 1fr 20%;
    grid-template-areas: 
                  ". img1 img2 img3  ."
                  ". info1 info2 info3 ."
                  ". . . . .";
    text-align: center;
}

.staff1{
    grid-area: img1;
}
.staff2{
    grid-area: img2;
}
.staff3{
    grid-area: img3;
}
.desc1{
    grid-area: info1;
}
.desc2{
    grid-area: info2;
}
.desc3{
    grid-area: info3;
}
img{
    height: 85%;
    width: 60%;
    border-radius: 100px;
}